[submodule "backend-ways-gallery"]
	path = backend-ways-gallery
	url = https://github.com/MDF05/backend-ways-gallery.git
[submodule "frontend-ways-gallery"]
	path = frontend-ways-gallery
	url = https://github.com/project-master-code/frontend-ways-gallery